@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --Theme-1-primary: #4B6BFB;
  --background-color: #FFF;
  --Secondary-800: #181A2A;
  --Secondary-100: #E8E8EA;
  --Secondary-600: #3B3C4A;

  --Secondary-300: #BABABF;
  --container-width: 1216px;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--Secondary-800);
}

body{
  background-color: var(--background-color);
  overflow-x: hidden;
}

.container{
  width: var(--container-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

@media screen and (max-width: 1216px){
  :root{
    --container-width: 1024px;
  }
}

@media screen and (max-width: 1024px){
  :root{
    --container-width: 900px;
  }
}

@media screen and (max-width: 900px){
  :root{
    --container-width: 600px;
    
  }
}

@media screen and (max-width: 600px){
  :root{
    --container-width: 100vw;
  }
}